// Homepage&Menus background
$main-bg-color: #F6F6F6;

// Homepage (location, reserve & footer) / Menus footer background 
$second-font-color: #353535;

// Homepage location background
$loc-bg-color: #EAEAEA;

// Homepage steps icon
$step-icon-color: #7E7E7E;

///////// Homepage  loader /////////
// Homepage button and steps
$main-color: #9356DC;
$second-color: #FF79DA;

// Homepage card label
$main-cardLabel: #008766;
$second-cardLabel: #99E2D0;
///////////////////////////////////