footer {
    padding: 1.38rem 1.56rem;
    background-color: $second-font-color;
    color: white;

    h3 {
        margin-top: 0;
        font-weight: 400;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 0.44rem;

        .link, .linkLight{
            display: flex;
            align-items: center;
            gap: 0.69rem;

            .fa-handshake-angle {
                font-size: 0.72rem;
            }

            a {
            color: white;
            }
        }

        .linkLight {
            font-weight: 300;
        }
    }
}

@media (min-width: 1024px) {
    footer{
        display: flex;
        flex-direction: row-reverse;
        padding: 1.88rem 1.56rem;
        gap: 2rem;

        h3 {
            margin: 0;
            padding-right: 3%;
        }

        .links {
            flex-direction: row;
            gap: 2rem;
            justify-content: space-evenly;        }
    }
}