.headnav {
    @include flex-row-center;
}

.backhome {
    color: black;
    position: absolute;
    left: 1.06rem;
}

img {
    width: 100%;
    height: 15.75rem;
    object-fit: cover;
}

.menu {
    gap: 2.5rem;
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    background-color: $main-bg-color;
    position: relative;
    bottom: 3.1rem;
    margin-bottom: -3.1rem;
    padding: 0.81rem;

    .title {
        @include heartGradient;
        display: flex;
        align-items: center;
        gap: 1.8rem;
        margin-left: 0.25rem;
    }

    h2 {
        font-family: $shrikhand;
        font-weight: 400;
    }

    .cardTitle {
        font-weight: 300;
        animation: menuTranslate-title 0.8s cubic-bezier(0,1.08,1,.99);
    }

    .borderBottom {
        border-bottom: 0.1875rem solid #99E2D0;
        width: 2.5rem;
        height: 1.4rem;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .menu__step {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .order {
        display: flex;
        justify-content: center;
    }

    button {
        margin-top: 0;
        margin-bottom: 1.69rem;
    }

    .menu__article {
        display: flex;
        align-items: center;
        border-radius: 0.9375rem;
        overflow: hidden;
        box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);

        &:hover .userCheck {
            animation: slideCheck 0.2s ease-in-out forwards;
        }

        &:not(:hover) .userCheck {
            animation: slideCheckReverse 0.2s ease-in-out forwards;
        }
    }

    .menuFirst {
        animation: menuTranslate-article 0.8s cubic-bezier(0,1.08,1,.99);
        animation: name duration timing-function delay iteration-count direction fill-mode;
    }

    .menuSecond {
        animation: menuTranslate-article 1.2s cubic-bezier(0,1.08,1,.99);
    }

    .menuThird {
        animation: menuTranslate-article 1.6s cubic-bezier(0,1.08,1,.99);
    }

    .menuFourth {
        animation: menuTranslate-article 2s cubic-bezier(0,1.08,1,.99);
    }

    .menu__info {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .menu__card {
        display: flex;
        flex-direction: row;
        background-color: white;
        color: black;
        padding: 0.94rem;
        justify-content: space-between;
        flex-grow: 1;
        flex-shrink: 1;
        white-space: nowrap;
        overflow: hidden;

        h3 {
            margin: 0;
            text-overflow: ellipsis;
        overflow: hidden;
        }

        p {
            margin-top: 0.31rem;
            margin-bottom: 0;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .menu__price {
            padding-top: 1.4rem;
            font-weight: bold;
        }
    }

    .userCheck {
        @include flex-row-center;
        background-color: $green-light;
        height: 4.82rem;
        width: 0%;
        transition: width 0.2s ease-in-out;

        .fa-circle-check {
            font-size: 1.5rem;
            color: white;
            background: $green-light;
            width: 40%;
        }
    
    }
}