@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap);
@keyframes animationLoader {
  0%, 95% {
    opacity: 0.9;
    z-index: 100;
  }
  75% {
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100vh);
    z-index: -100;
  }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
#loaderTitle {
  background-image: linear-gradient(-225deg, #9356DC 0%, #FF79DA 33%, #99E2D0 66%, #008766 100%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.2s linear infinite;
}

@keyframes menuTranslate-title {
  0% {
    transform: translateX(-7rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
@keyframes menuTranslate-article {
  0% {
    transform: translateX(38rem);
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.45;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@keyframes slideCheck {
  0% {
    opacity: 0;
    width: 0rem;
  }
  100% {
    opacity: 1;
    width: 3.5rem;
  }
}
@keyframes slideCheckReverse {
  0% {
    opacity: 1;
    width: 3.5rem;
  }
  100% {
    opacity: 0;
    width: 0rem;
  }
}
@keyframes heartGradient {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

#loaderTitle, .headerTitle, .footerTitle, .restaurantName {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  color: black;
}

.lighterText {
  font-weight: lighter;
}

.homeButton, .menuList__order--button {
  width: 13.625rem;
  height: 3.125rem;
  margin: 1.69rem 0 3.56rem;
  padding: 0.81rem 1.17rem;
  border-radius: 1.5625rem;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
.homeButton:hover, .menuList__order--button:hover {
  opacity: 75%;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1024px) {
  .homeButton, .menuList__order--button {
    margin-bottom: 1.88rem;
  }
}
h1 {
  padding: 0.875rem 5.5625rem 0.8125rem;
  margin: 0;
}

@media (min-width: 1024px) {
  h1 {
    padding: 1.88rem 0 1.99rem;
  }
}
.headNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backHome {
  color: black;
  position: absolute;
  left: 1.06rem;
}

footer {
  padding: 1.38rem 1.56rem;
  background-color: #353535;
  color: white;
  gap: 1rem;
}
footer h3 {
  margin-top: 0;
  font-weight: 400;
}
footer .links {
  display: flex;
  flex-direction: column;
  gap: 0.44rem;
}
footer .links .link, footer .links .linkLight {
  display: flex;
  align-items: center;
  gap: 0.69rem;
}
footer .links .link .fa-handshake-angle, footer .links .linkLight .fa-handshake-angle {
  font-size: 0.72rem;
}
footer .links .link a, footer .links .linkLight a {
  color: white;
}
footer .links .linkLight {
  font-weight: 300;
}

#homepageLoader {
  background: white;
  height: 100vh;
  width: 100%;
  position: fixed;
  animation: animationLoader 3s ease-in-out forwards;
}

#loaderTitle {
  display: flex;
  justify-content: center;
  font-size: 400%;
  transform: translateY(40vh);
}

.homepageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  color: #353535;
  gap: 1.0625rem;
}

.loc-dot {
  width: 0.75rem;
  height: 1rem;
}

.reserve {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #F6F6F6;
}
.reserve h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.44rem 3.62rem 0.8rem 2.62rem;
}
@media (min-width: 1024px) {
  .reserve h2 {
    margin: 1.88rem 3.62rem 0rem 2.62rem;
    font-size: 2.5rem;
  }
}
.reserve p {
  text-align: center;
  color: #353535;
  font-size: 1.125rem;
  margin-bottom: 0;
}

.functioning {
  margin: 0 1.25rem 4.25rem;
}
.functioning h2 {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}
.functioning .steps {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.56rem;
  padding: 0;
  margin-left: 0.78rem;
}
.functioning .steps__card {
  display: flex;
  align-items: center;
  height: 4.52369rem;
  border-radius: 1.25rem;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding-left: 2rem;
  gap: 1.25rem;
}
.functioning .steps__number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: -2.75rem;
  margin-top: 0.5rem;
}
.functioning .fa-solid {
  width: 1rem;
  color: #7E7E7E;
}
.functioning .fa-store {
  color: #9356DC;
}

@media (min-width: 1024px) {
  .functioning {
    margin: 3.12rem 11.25rem;
  }
  .functioning .steps {
    display: flex;
    flex-direction: row;
  }
}
.menus {
  background-color: #F6F6F6;
  padding-top: 3.38rem;
  padding-bottom: 4.12rem;
}
.menus h2 {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-left: 1.25rem;
}
.menus .restaurants {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 1.06rem;
  margin-right: 1.13rem;
  gap: 1.12rem;
}
.menus .restaurants .restaurantsCard {
  border-radius: 0.9375rem;
  background-color: white;
  color: black;
  border-bottom-left-radius: 0.94rem;
  border-bottom-right-radius: 0.94rem;
  position: relative;
}
.menus .restaurants .restaurantsCard__image {
  width: 100%;
  height: 10.8775rem;
  border-top-left-radius: 0.94rem;
  border-top-right-radius: 0.94rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 61%;
     object-position: 50% 61%;
}
.menus .restaurants .restaurantsCard__label {
  position: absolute;
  color: #008766;
  background: #99E2D0;
  right: 0.75rem;
  top: 0.81rem;
  border-radius: 0.125rem;
  padding: 0.44rem 0.6rem 0.37rem 0.56rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.menus .restaurants .restaurantsCard__infos {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.81rem;
  padding-right: 1.56rem;
}
.menus .restaurants .restaurantsCard__infos .like-checkbox {
  display: none;
}
.menus .restaurants .restaurantsCard__infos .fa-heart {
  font-size: 1.35rem;
}
.menus .restaurants .restaurantsCard__infos .like-icon {
  cursor: pointer;
}
.menus .restaurants .restaurantsCard__infos .liked-icon {
  display: none;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  animation: heartGradient 0.3s ease-in-out;
  cursor: pointer;
}
.menus .restaurants .restaurantsCard__infos input[type=checkbox]:checked + label .like-icon {
  display: none;
}
.menus .restaurants .restaurantsCard__infos input[type=checkbox]:checked + label .liked-icon {
  display: inline-block;
}
.menus .restaurants .restaurantsCard__infos--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.menus .restaurants .restaurantsCard__infos--text h3 {
  margin-bottom: 0;
}
.menus .restaurants .restaurantsCard__infos--text p {
  margin-top: 0.31rem;
}

img {
  width: 100%;
  height: 15.75rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  gap: 2.5rem;
  border-top-left-radius: 1.75rem;
  border-top-right-radius: 1.75rem;
  background-color: #F6F6F6;
  position: relative;
  bottom: 3.1rem;
  margin-bottom: -3.1rem;
  padding: 0.81rem;
}
.menu .menuTitle {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin-left: 0.25rem;
}
.menu .menuTitle .like-checkbox {
  display: none;
}
.menu .menuTitle .fa-heart {
  font-size: 1.35rem;
}
.menu .menuTitle .like-icon {
  cursor: pointer;
}
.menu .menuTitle .liked-icon {
  display: none;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  animation: heartGradient 0.3s ease-in-out;
  cursor: pointer;
}
.menu .menuTitle input[type=checkbox]:checked + label .like-icon {
  display: none;
}
.menu .menuTitle input[type=checkbox]:checked + label .liked-icon {
  display: inline-block;
}
.menu .menuTitle .restaurantName {
  font-weight: 400;
}
.menu .menuList {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.menu .menuList__step {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.menu .menuList__step .cardTitle {
  font-weight: 300;
  animation: menuTranslate-title 0.8s cubic-bezier(0, 1.08, 1, 0.99);
}
.menu .menuList__step .cardTitle__bottom {
  border-bottom: 0.1875rem solid #99E2D0;
  width: 2.5rem;
  height: 1.4rem;
}
.menu .menuList__step--article {
  display: flex;
  align-items: center;
  border-radius: 0.9375rem;
  overflow: hidden;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
}
.menu .menuList__step--article:hover .userCheck {
  animation: slideCheck 0.2s ease-in-out forwards;
}
.menu .menuList__step--article:not(:hover) .userCheck {
  animation: slideCheckReverse 0.2s ease-in-out forwards;
}
.menu .menuList__step--article .userCheck {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  height: 4.82rem;
  width: 0%;
  transition: width 0.2s ease-in-out;
}
.menu .menuList__step--article .userCheck .fa-circle-check {
  font-size: 1.5rem;
  color: white;
  background: #99E2D0;
  width: 40%;
}
.menu .menuList__step .menuOne {
  animation: menuTranslate-article 0.8s cubic-bezier(0, 1.08, 1, 0.99);
  animation: name duration timing-function delay iteration-count direction fill-mode;
}
.menu .menuList__step .menuTwo {
  animation: menuTranslate-article 1.2s cubic-bezier(0, 1.08, 1, 0.99);
}
.menu .menuList__step .menuThree {
  animation: menuTranslate-article 1.6s cubic-bezier(0, 1.08, 1, 0.99);
}
.menu .menuList__step .menuFour {
  animation: menuTranslate-article 2s cubic-bezier(0, 1.08, 1, 0.99);
}
.menu .menuList__order {
  display: flex;
  justify-content: center;
}
.menu .menuList__order--button {
  margin-top: 0;
  margin-bottom: 1.69rem;
}
.menu .menuCard {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  padding: 0.94rem;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
}
.menu .menuCard__info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.menu .menuCard h3 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menuCard p {
  margin-top: 0.31rem;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menuCard .menuCard__price {
  padding-top: 1.4rem;
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */